/*--------------------------------------------------------------
Portfolio
--------------------------------------------------------------*/
.grid {
    img.wp-post-image {
        margin-bottom: 0;
        height: auto;  
    }
}
 
.portfolio-item {
	margin: 10px 0;
    padding-top: 20px;
}
 
.portfolio .thumbnail {
	margin-bottom: 5px;
}
 
.portfolio h4 {
	margin-top: 5px;
}

.single-portfolio .hentry {
	border-bottom: 0;
}

.portfolio-featured img {
    padding: 0 auto;
}

/*--------------------------------------------------------------
Services
--------------------------------------------------------------*/
.services {
    padding-top: 40px;
}

#servicesSubtitle {
    padding-top: 0;
    padding-bottom: 30px;
}

/*--------------------------------------------------------------
Search
--------------------------------------------------------------*/
.search-highlight {
    background:#FFFF00  
}

/*--------------------------------------------------------------
Homepage 
--------------------------------------------------------------*/
 
.homehero .hentry {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
/*--------------------------------------------------------------
Column Pages 
--------------------------------------------------------------*/

.two-column {
    background: $color__background-body;
}
.three-column {
    background: $color__background-pre;
}

 