/*--------------------------------------------------------------
Portfolio
--------------------------------------------------------------*/
.grid {
    img.wp-post-image {
        margin-bottom: 0;
        height: auto;  
    }
}
 
.portfolio-item {
	margin: 10px 0;
    padding-top: 20px;
}
 
.portfolio .thumbnail {
	margin-bottom: 5px;
}
 
.portfolio h4 {
	margin-top: 5px;
}

.single-portfolio .hentry {
	border-bottom: 0;
}

/*--------------------------------------------------------------
Services
--------------------------------------------------------------*/
.services {
    padding-top: 40px;
}
