.site-footer {
    background: $gray-darker;
    
    .site-info {
        margin: 20px 0;
    }
}

.footerwrap .container {
    margin: auto 0;
}

.footerLeft, .footerRight a {
    color: $color__background-button;
    font-size: 1.125em;
}

.footerLeft {
    text-align: left;
    
    a {
        color: #fff;
        
        &:hover {
            color: $color__brand;
        }
    }
}

.footerRight {
    text-align: right;
    float: right;
    
    a {
        margin-right: 1.25em;
        
        &:hover {
            color: $color__brand;
        }
        
        &:last-child {
            margin-right: none;
        }
    }
}
